<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749711652593-ol3dcrap718p9so32ovi400v26o3o6a5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749711652593-ol3dcrap718p9so32ovi400v26o3o6a5</string>
	<key>API_KEY</key>
	<string>AIzaSyAYQThi79UuI7SWh-J_Qaw7qv6bC7zGF80</string>
	<key>GCM_SENDER_ID</key>
	<string>749711652593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>mappage-4c2af</string>
	<key>STORAGE_BUCKET</key>
	<string>mappage-4c2af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749711652593:ios:6756c245bd45ed24599b50</string>
</dict>
</plist>